<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />
    <title>Eventos</title>
</head>

<body class="bg-gray-100">
    <nav class="bg-white border-gray-200  mb-5">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="/" class="flex items-center">
                <span class="self-center text-2xl font-semibold whitespace-nowrap  uppercase">Iglesia</span>
            </a>
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul
                    class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white ">
                    <li>
                        <a href="/ministerio"
                            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0  ">
                            Ministerios
                        </a>
                    </li>
                    <li>
                        <a href="/cargo"
                            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0  ">
                            Cargos
                        </a>
                    </li>
                    <li>
                        <a href="/historial"
                            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0  ">
                            Historial Cargo </a>
                    </li>
                    <li>
                        <a href="/miembros"
                            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0  ">
                            Miembros </a>
                    </li>
                    <li>
                        <a href="/eventos"
                            class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0">
                            Eventos
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- titulo que diga ministerios -->
    <div class="flex justify-center mb-5">
        <h1 class="text-3xl font-bold">Eventos</h1>
    </div>

    <div class="grid grid-cols-2 px-10 pt-2">
        <div class="px-5 bg-white m-3 p-5 border rounded-md">
            <form id="formulario" class="formulario grid grid-cols-2 gap-2">
                <div class="hidden mb-2" id="id-card">
                    <label for="id" class="block mb-2 text-sm font-medium text-gray-900 ">
                        ID</label>
                    <input type="number" id="id" name="id" readonly
                        class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                        placeholder="" required>
                </div>
                <div class="mb-2">
                    <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900 ">
                        Nombre</label>
                    <input type="text" id="nombre" name="nombre"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                        placeholder="Nombre..." required>
                </div>

                <div class="mb-2">
                    <label for="fecha" class="block mb-2 text-sm font-medium text-gray-900 ">
                        Fecha</label>
                    <input type="date" id="fecha" name="fecha"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                        required>
                </div>

                <div class="mb-2">
                    <label for="hora" class="block mb-2 text-sm font-medium text-gray-900 ">
                        Hora</label>
                    <input type="time" id="hora" name="hora"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                        required>
                </div>

                <div class="mb-4 col-span-2">
                    <label for="descripcion" class="block mb-2 text-sm font-medium text-gray-900 ">
                        Descripcion</label>
                    <textarea name="descripcion" id="descripcion" cols="30" rows="5" placeholder="Descripcion..."
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "></textarea>
                </div>
                <!-- titulo de familia -->
                <div class="flex justify-center mb-1 col-span-2">
                    <h1 class="text-xl font-bold">Participantes</h1>
                </div>
                <div class="col-span-2 grid grid-cols-3">
                    <div class="col-span-2">
                        <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 ">
                            Miembro</label>
                        <select id="participante" name="participante"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
                            <option selected>Escoge un miembro </option>
                            <% if (miembros) { %>
                                <% miembros.forEach((miembro)=> { %>
                                    <option value="<%= miembro.id %>">
                                        <%= miembro.nombre %>
                                    </option>
                                    <% }); %>
                                        <% } else { %>
                                            <p>No hay datos disponibles.</p>
                                            <% } %>
                        </select>
                    </div>
                    <div class="flex items-end justify-center mb-1 ">
                        <br>
                        <button type="button"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center "
                            onclick="addParticipante()">Añadir</button>
                    </div>
                </div>

                <div class="relative overflow-x-auto px-1 bg-white p-5 border rounded-md col-span-2">
                    <table class="w-full text-sm text-left text-gray-500 " id="familia-table" name="familia-table">
                        <thead class="text-xs text-gray-800 uppercase bg-gray-200">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Nombre
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody class="familia-body" id="familia-body" name="familia-body">
                        </tbody>
                    </table>
                </div>

                <div class="">
                    <button type="submit"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center ">Guardar</button>
                    <button type="button" onclick="limpiarForm()"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center ">Limpiar</button>
                </div>

            </form>
        </div>

        <div class="relative overflow-x-auto px-5 bg-white m-3 p-5 border rounded-md">
            <table class="w-full text-sm text-left text-gray-500 ">
                <thead class="text-xs text-gray-800 uppercase bg-gray-200">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Nombre
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Descripcion
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Fecha
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Hora
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% if (eventos) { %>
                        <% eventos.forEach((dato)=> { %>
                            <tr class="bg-white border border-1 ">

                                <td class="px-6 py-4">
                                    <%= dato.nombre %>
                                </td>
                                <td class="px-6 py-4">
                                    <%= dato.descripcion%>
                                </td>
                                <td class="px-6 py-4">
                                    <%= dato.fecha %>
                                </td>
                                <td class="px-6 py-4">
                                    <%= dato.hora %>
                                </td>
                                <td class="px-6 py-4">
                                    <button class="text-blue-400 hover:text-blue-600" onclick="ponerDatosForm(event)"
                                        data-id="<%= dato.id %>" data-nombre="<%= dato.nombre %>"
                                        data-descripcion="<%= dato.descripcion %>" data-fecha="<%= dato.fecha %> "
                                        data-hora="<%= dato.hora %>"
                                        data-arrayParticipantes="<%= JSON.stringify(dato.participantes) %>">
                                        Ver
                                    </button>
                                    <button class="text-blue-400 hover:text-blue-600" onclick="eliminarDatos(event)"
                                        data-id="<%= dato.id %>">
                                        Eliminar
                                    </button>
                                </td>
                            </tr>
                            <% }); %>
                                <% } else { %>
                                    <p>No hay datos disponibles.</p>
                                    <% } %>
                </tbody>
            </table>
        </div>
        <form action="" id="delete" class="hidden" method="GET">
            <input type="hidden" name="_method" value="DELETE" />
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
    <script>
        // declarar una variable global
        let participantes = [];

        function addParticipante() {
            let participante = document.getElementById('participante').value;
            let miembro = document.getElementById('participante').options[document.getElementById('participante').selectedIndex].text;
            let participacion = {
                participante: participante,
                miembro: miembro
            }
            participantes.push(participacion);
            renderParticipantes();
        }

        function renderParticipantes() {
            let html = '';
            participantes.forEach((dato) => {
                html += `
                <tr class="bg-white border border-1 ">
                    <td class="px-6 py-4">
                        ${dato.miembro}
                    </td>
                    <td class="px-6 py-4">
                        <button class="text-blue-400 hover:text-blue-600" onclick="eliminarParticipante(event)"
                            data-id="${dato.participante}">
                            Eliminar
                        </button>
                    </td>
                </tr>
                `;
            });
            document.getElementById('familia-body').innerHTML = html;
        }

        function eliminarParticipante(event) {
            const id = event.currentTarget.getAttribute('data-id');
            console.log('Eliminar el dato con el id:', id);
            participantes = participantes.filter((dato) => dato.participante != id);
            renderParticipantes();
        }


        function enviarDatos(event) {
            event.preventDefault();
            const formulario = document.getElementById('formulario');
            const participantesInput = document.createElement('input');
            participantesInput.type = 'hidden';
            participantesInput.name = 'participantes';
            participantesInput.value = JSON.stringify(participantes);
            formulario.appendChild(participantesInput);
            const formData = new FormData(formulario);
            const datos = {};
            formData.forEach((valor, clave) => { datos[clave] = valor; });
            const metodo = 'POST';
            const endPoint = datos.id ? `/eventos/update` : '/eventos/create';
            formulario.method = metodo;
            formulario.action = endPoint;
            formulario.submit();
        }
        const formulario = document.getElementById('formulario');
        formulario.addEventListener('submit', enviarDatos);

        function eliminarDatos(event) {
            const id = event.currentTarget.getAttribute('data-id');
            const deleteForm = document.getElementById('delete');
            const idInput = document.createElement('input');
            idInput.type = 'hidden';
            idInput.name = 'id';
            idInput.value = id;
            deleteForm.appendChild(idInput);
            deleteForm.method = 'POST';
            deleteForm.action = `/eventos/delete`;
            deleteForm.submit();
        }

        function ponerDatosForm(event) {
            const id = event.currentTarget.getAttribute('data-id');
            const nombre = event.currentTarget.getAttribute('data-nombre');
            const descripcion = event.currentTarget.getAttribute('data-descripcion');
            const fecha = event.currentTarget.getAttribute('data-fecha');
            const hora = event.currentTarget.getAttribute('data-hora');
            const arrayParticipantes = event.currentTarget.getAttribute('data-arrayParticipantes');

            const formulario = document.getElementById('formulario');
            const idCard = document.getElementById('id-card');

            const nombreInput = document.getElementById('nombre');
            const idInput = document.getElementById('id');
            const descripcionInput = document.getElementById('descripcion');
            const fechaInput = document.getElementById('fecha');
            const horaInput = document.getElementById('hora');

            nombreInput.value = nombre;
            idInput.value = id;
            descripcionInput.value = descripcion;
            fechaInput.setAttribute('value', new Date(fecha).toISOString().split('T')[0]);
            horaInput.value = hora;
            if (arrayParticipantes) {
                participantes = [];
                jsonParticipantes = JSON.parse(arrayParticipantes);
                jsonParticipantes.forEach((dato) => {
                    let participacion = {
                        participante: dato.miembro_id,
                        miembro: dato.miembro_nombre
                    }
                    participantes.push(participacion);
                });
                console.table(participantes);
                renderParticipantes();
            }
            idCard.style.display = 'block';
        }

        function limpiarForm() {
            const nombreInput = document.getElementById('nombre');
            const idInput = document.getElementById('id');
            const descripcionInput = document.getElementById('descripcion');
            const fechaInput = document.getElementById('fecha');
            const horaInput = document.getElementById('hora');

            const idCard = document.getElementById('id-card');

            nombreInput.value = '';
            idInput.value = '';
            descripcionInput.value = '';
            fechaInput.value = '';
            horaInput.value = '';
            idCard.style.display = 'none';

            participantes = [];
            renderParticipantes();
        }

    </script>
</body>

</html>